<h4>Bonjour,</h4>

<p>Votre demande d'annulation pour votre ticket n°{{ticket.ticketNumber}} inclus dans la facture n° {{facture.number}}, le montant de {{ticket.price}}€ vous sera remboursé dans les prochains jours.</p><br>

<p>Bien cordialement.</p>

<p>L'équipe Odyssée / APU 2019</p><br>
