<h4>Bonjour,</h4>

<p>Vous avez demandé l'annulation de votre ticket n° {{ticket.ticketNumber}}. Vous recevrez un mail lors de la confirmation d'annulation par l'organisateur.</p><br>

<p>Bien cordialement.</p>

<p>L'équipe Odyssée / APU 2019</p><br>
