<h4>Bonjour,</h4>

<p>Votre paiement pour la facture n°{{facture.number}} a été validé par l'organisateur.</p><br>

<p>Veuillez trouver ci-joint vos billets ainsi que le programme de l'événement.</p><br>

<p>Bien cordialement.</p>

<p>L'équipe Odyssée / APU 2019</p><br>
